
    ##################################################
    ###   Visit https://github.com/tinybirdco/ci   ###
    ###   for more details or custom CI/CD         ###
    ##################################################

    name: Tinybird - CD Workflow

    on:
      workflow_dispatch:
      push:
        paths:
          - 'add_column_kafka_data_source/**'
        branches:
          - main
    jobs:
      cd:
        uses: tinybirdco/ci/.github/workflows/cd.yml@v4.0.0
        with:
          data_project_dir: ./add_column_kafka_data_source
        secrets:
          tb_admin_token: ${{ secrets.TB_ADMIN_TOKEN_ADD_COLUMN_KAFKA_DATA_SOURCE }}
          tb_host: https://api.tinybird.co
